*{
    margin: 0px;
    padding: 0px;
}

body{
    top: 0px;
    height: 180vh;
    font-family: 'Domine', serif;
}

/* Image-1 And Heading */

.progress{
    width: 30%;
    background-color: #f5c874;
    height: 100%;
    z-index: -1;
    display: inline-block;
}

/* Logo */

.progress .img{
    position: absolute;
    width: 8%;
    left: 0px;
    top: 0px;
}

.progress .img1{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 15%;
    border: 2px solid black;
    border-radius: 50%;
}

.heading{
    position: absolute;
    top: 0%;
    right: 2%;
}

.heading h1{
    font-size: 3.7rem;
}

.heading p{
    text-align: right;
}

.heading .btn{
    background-color: #f8ddaa;
}

.heading .btn a{
    text-decoration: none;
    color: black;
}

.heading .btn a:hover{
    background-color: #f3e9d7;
}

/* Section */

.section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 15%;
    right: 12%;
    float: right;
    text-align: right;
    width: 80%;
}

.section h2{
    font-size: 2.5rem;
}

.section .boxes{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2%;
    margin-bottom: 0%;
}

.section .boxes h3{
    font-size: 1.5rem;
    padding-bottom: 4px;
}

.section .boxes .box{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: #f8ddaa;
}

.section .boxes .contact-form{
    border: 3px solid black;
    border-radius: 8px;
    width: 120%;
    margin-left: -12%;
    margin-top: 8%;
    font-size: 1.3rem;
}

#form .form{
    margin: 2px 0px;
}

#form .form .text{
    padding: 2px 0px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: 0.8rem;
}

#gen{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

#form .btn{
    display: flex;
    flex-direction: row;
}

.btn1{
    font-family: 'Domine', serif;
    margin-top: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    width: 20%;
    padding: 2px;
}

.btn1:hover{
    background-color: #f3e9d7;
    color: black;
    border-color: black;
    border-radius: 8px;
}

.btn2{
    font-family: 'Domine', serif;
    margin-top: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    width: 20%;
    padding: 2px;
}

.btn2:hover{
    background-color: #f3e9d7;
    color: black;
    border-color: black;
    border-radius: 8px;
}

#form p{
    font-size: 1rem;
    padding-top: 3px;
    text-align: end;
}

.img2{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 102%;
    left: 15%;
    border: 2px solid black;
    border-radius: 50%;
}

/* Footer */

footer{
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}


/* Making The Website Responsive */

@media only screen and (min-width: 1442px) and (max-width: 1496px){

    .progress{
        height: 110%;
    }
}

@media only screen and (min-width: 1288px) and (max-width: 1442px){
    
    p{
        font-size: 0.99rem;
    }

    .progress{
        width: 25%;
        height: 110%;
    }

    .progress .img1{
        left: 10%;
    }

    .heading{
        right: 1.3%;
    }

    .heading h1{
        font-size: 3.4rem;
    }

    .section{
        right: 9%;
    }

    .section h2{
        font-size: 2.2rem;
    }

    .section .boxes{
        margin-right: 1%;
    }

    .section .boxes h3{
        font-size: 1.1rem;
    }

    .section .boxes .box{
        margin: 3px;
    }

    .section .boxes .contact-form{
        width: 120%;
        margin-left: -12%;
        margin-top: 8%;
    }

    .img2{
        left: 10%;
    }

    #form p{
        font-size: 0.9rem;
        padding-top: 2px;
    }

}

@media only screen and (min-width: 1080px) and (max-width: 1288px){
    
    p{
        font-size: 0.95rem;
    }

    .progress{
        width: 25%;
        height: 110%;
    }

    .progress .img1{
        left: 10%;
    }

    .heading{
        right: 1.3%;
    }

    .heading h1{
        font-size: 3.4rem;
    }

    .section{
        right: 9%;
    }

    .section h2{
        font-size: 2.2rem;
    }

    .section .boxes{
        margin-right: 1%;
    }

    .section .boxes h3{
        font-size: 1.1rem;
    }

    .section .boxes .box{
        margin: 3px;
    }

    .section .boxes .contact-form{
        width: 120%;
        margin-left: -12%;
        margin-top: 8%;
    }

    .img2{
        left: 10%;
    }

    #form p{
        font-size: 0.9rem;
        padding-top: 2px;
    }

}

@media only screen and (min-width: 930px) and (max-width: 1080px){

    body{
        height: 100vh;
    }

    .progress{
        width: 100%;
        height: 30%;
        z-index: -1;
        display: block;
    }

    .progress .img1{
        position: absolute;
        display: block;
        width: 40%;
        height: 30%;
        top: 16%;
        left: 30%;
    }

    .heading h1{
        font-size: 3.2rem;
    }

    .heading p{
        font-size: 1.1rem;
    }

    .section{
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        right: 0%;
        width: 100%;
    }

    .section .boxes{
        width: 60%;
    }

    .section .boxes .contact-form{
        width: 120%;
        margin-left: -12%;
        margin-bottom: 6%;
    }

    .img2{
        display: none;
    }

    #form p{
        padding-bottom: 6px;
    }
}

@media only screen and (min-width: 730px) and (max-width: 930px){

    body{
        height: 100vh;
    }

    .progress{
        width: 100%;
        height: 30%;
        z-index: -1;
        display: block;
    }

    .progress .img1{
        position: absolute;
        display: block;
        width: 40%;
        height: 30%;
        top: 16%;
        left: 30%;
    }

    .heading h1{
        font-size: 2.5rem;
    }

    .heading p{
        font-size: 0.9rem;
    }

    .section{
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        right: 0%;
        width: 100%;
    }

    .section h2{
        font-size: 1.8rem;
    }

    .section .boxes{
        width: 60%;
    }

    .section .boxes h3{
        font-size: 1rem;
    }

    .section .boxes p{
        font-size: 0.9rem;
    }

    .section .boxes .contact-form{
        width: 120%;
        margin-left: -12%;
        margin-bottom: 8%;
    }

    #form .form .text{
        font-size: 0.8rem;
    }

    .img2{
        display: none;
    }

    #form p{
        padding-bottom: 6px;
    }
}

@media only screen and (min-width: 460px) and (max-width: 730px){

    .progress{
        width: 100%;
        height: 20%;
        z-index: -1;
        display: block;
    }

    .progress .img{
        width: 10%;
    }

    .progress .img1{
        position: absolute;
        display: block;
        width: 300px;
        height: 30%;
        top: 1%;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .heading{
        position: relative;
        top: 0%;
        right: 0px;
        text-align: center;
    }

    .heading h1{
        font-size: 2.5rem;
    }

    .heading p{
        font-size: 0.9rem;
    }

    .section{
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: -26%;
        right: 0%;
        width: 100%;
    }

    .section h2{
        font-size: 1.8rem;
    }

    .section .boxes{
        width: 80%;
    }

    .section .boxes h3{
        font-size: 1rem;
    }

    .section .boxes p{
        font-size: 0.9rem;
    }

    .section .boxes .contact-form{
        width: 110%;
        margin-left: -8%;
        margin-bottom: 8%;
    }

    #form .form .text{
        font-size: 0.8rem;
    }

    .img2{
        display: none;
    }

    #form p{
        padding-bottom: 6px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 460px){

    .progress{
        width: 100%;
        height: 20%;
        z-index: -1;
        display: block;
    }

    .progress .img{
        width: 12%;
    }

    .progress .img1{
        position: absolute;
        display: block;
        width: 220px;
        height: 30%;
        top: 1%;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .heading{
        position: relative;
        top: 0%;
        right: 0px;
        text-align: center;
    }

    .heading h1{
        font-size: 2.3rem;
    }

    .heading p{
        font-size: 0.9rem;
    }

    .section{
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: -25%;
        right: 0%;
        width: 100%;
    }

    .section h2{
        font-size: 1.5rem;
        text-align: center;
    }

    .section .boxes{
        width: 80%;
    }

    .section .boxes h3{
        font-size: 1rem;
    }

    .section .boxes p{
        font-size: 0.9rem;
    }

    .section .boxes .contact-form{
        width: 105%;
        margin-left: -7%;
        font-size: 1.1rem;
        margin-bottom: 10%;
    }

    #form .form .text{
        font-size: 0.8rem;
    }

    .img2{
        display: none;
    }

    .btn1{
        font-size: 0.8rem;
    }

    .btn2{
        font-size: 0.8rem;
    }

    #form p{
        font-size: 0.8rem;
        padding-top: 4px;
        padding-bottom: 15px;
    }

    footer{
        font-size: 0.6rem;
    }
}