*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Reem Kufi', sans-serif;
}

.img-logo{
    position: absolute;
    width: 6%;
    left: 0px;
    top: 0px;
}

/* Heading */

.heading{
    display: block;
    text-align: center;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: row;
}

/* Cart */

.cart-btn{
    position: fixed;
    right: 1.2%;
    top: 2%;
    width: 3.7%;
    height: 6.8%;
    border: none;
    background-color: white;
    display: block;
}

.cart-btn:hover{
    cursor: pointer;
    background-color: #cecece;
}


.open{
    display: none;
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 2;
    background: white;
    border: 4px solid #cecece;
    animation: slide-out 1s ease-in-out;
}

@keyframes slide-out{
    from{
        width: 0px;
    }

    to{
        width: 400px;
    }
}

.open .close-btn{
    position: absolute;
    right: 368px;
    top: 1.5%;
    width: 6.8%;
    background-color: white;
    height: 3.3%;
    border: none;
    animation: slide-out-btn 1s ease-in-out;
}

@keyframes slide-out-btn{
    from{
        right: 0px;
        width: 0px;
    }

    to{
        right: 385px;
        width: 0px;
    }
}

.open .close-btn:hover{
    cursor: pointer;
    background-color: #cecece;
}

.open .close-btn .cart{
    position: absolute;
    right: 3%;
    top: 2%;
}

.open .cart_heading{
    font-size: 2.2rem;
    text-align: center;
}

.open .cart_para{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2px;
    padding: 13px;
    padding-bottom: 10px;
}

.open .cart_count{
    font-size: 1.6rem;
    padding: 3px;
    margin-bottom: 1.5px;
}

.cart_count .delete_btn{
    position: absolute;
    margin-bottom: -4px;
    right: 40px;
    height: 4.5%;
    width: 10%;
}

.open .clear_info{
    font-weight: lighter;
    position: absolute;
    font-size: 0.8rem;
}

.open .proceed{
    border: 4px solid #ff7a32;
    text-align: center;
    background-color: #fac0a1;
    font-size: 2rem;
    width: fit-content;
    position: absolute;
    bottom: 36px;
    margin-left: 12.5%;
}

.open .proceed a{
    text-decoration: none;
    color: black;
}

.open .proceed a:hover{
    cursor: pointer;
    background-color: #faece4;
}

.open .info{
    font-weight: lighter;
    position: absolute;
    bottom: 140px;
    font-size: 0.8rem;
}

.open .save_btn{
    border: 4px solid black;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    width: fit-content;
    bottom: 100px;
    margin-left: 40%;
    border-radius: 4px;
    padding: 2px;
}

.open .save_btn:hover{
    cursor: pointer;
    background-color: #dfdfdf;
    color: #000;
}

/* Classes For Cart */

.cart_content{
    position: absolute;
    top: 265px;
    bottom: 160px;
    width: 99%;
    overflow-y: scroll;
}

.cart_flex{
    display: flex;
    flex-direction: row;
    border: 2px solid #cecece;
    width: 99%;
    height: 20%;
    margin-bottom: 2%;
}

.cart_image{
    height: 100%;
    width: 22%;
}

.cart_block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding: 4px;
    font-size: 0.8rem;
}

.cart_block .cart-btns{
    position: relative;
    width: 100%;
    background-color: white;
    height: 37%;
    border: none;
    border-radius: 50%;
}

.cart-btns:hover{
    cursor: pointer;
    background-color: #cecece;
}


/* Aside & Section */

#aside{
    margin: 4px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 3px 3px 5px grey;
}

.list ul li{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 4px;
    margin-left: 0px;
    box-shadow: 0px 3px 5px grey;
}

.list ul li a{
    color: black;
    text-decoration: none;
}

.list ul li:hover, .list ul .active{
    background-color: #cecece;
    cursor: pointer;
}

/* For Jewelry Section*/

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons .btn{
    display: inline;
    font-size: 25px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    padding: 4px;
    margin: 80px;
}

.buttons .btn a{
    text-decoration: none;
    color: black;
}

.buttons .btn:hover, .buttons #act{
    background-color: rgb(203, 243, 241);
    cursor: pointer;
}

/* ---- */

.images h2{
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.images .photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images .photos h3{
    text-align: center;
    font-size: 20px;
    padding: 4px;
}

.images .photos button{
    width: 30%;
    margin: auto;
    font-size: 1.3rem;
    background-color: #c07474;
    border-radius: 4px;
}

.images .photos button:hover{
    background-color: wheat;
    cursor: pointer;
}

.images .photos .box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    padding: 30px;
    padding-bottom: 45px;
}

.images .photos .box .img{
    height: 350px;
    width: 350px;
    padding: 25px;
    margin-left: 103px;
    margin-right: 103px;
}

/* Footer */

footer{
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: bottom;
    font-size: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
}


/* Making The Website Responsive */

@media only screen and (min-width: 1360px) and (max-width: 1470px){

    .images .photos .box .img{
        height: 300px;
        width: 300px;
        padding: 25px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .buttons .btn{
        margin: 70px;
    }
}

@media only screen and (min-width: 1260px) and (max-width: 1360px){

    .images .photos .box .img{
        height: 300px;
        width: 300px;
        padding: 20px;
        margin-left: 80px;
        margin-right: 80px;
    }

    .buttons .btn{
        font-size: 20px;
        margin: 70px;
    }
}

@media only screen and (min-width: 1160px) and (max-width: 1260px){

    .images .photos .box .img{
        height: 300px;
        width: 300px;
        padding: 15px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .buttons .btn{
        font-size: 20px;
        margin: 65px;
    }
}

@media only screen and (min-width: 970px) and (max-width: 1160px){

    .img-logo{
        width: 8%;
    }

    .cart-btn{
        right: 1%;
        width: 4%;
        height: 6%;
    }

    .cart_img{
        width: 90%;
        height: 90%;
    }

    .open{
        width: 350px;
    }

    @keyframes slide-out{
        from{
            width: 0px;
        }
    
        to{
            width: 350px;
        }
    }

    .open .close-btn{
        right: 320px;
    }
    
    @keyframes slide-out-btn{
        from{
            right: 0px;
            width: 0px;
        }
    
        to{
            right: 335px;
            width: 0px;
        }
    }

    .open .cart_heading{
        font-size: 2rem;
    }
    
    .open .cart_para{
        font-size: 1.1rem;
    }

    .open .cart_count{
        font-size: 1.3rem;
    }
    
    .cart_count .delete_btn{
        height: 5%;
    }

    .open .proceed{
        font-size: 1.6rem;
        margin-left: 16%;
    }

    .open .save_btn{
        font-size: 1rem;
        bottom: 92px;
        margin-left: 42%;
    }

    .open .info{
        bottom: 130px;
        font-size: 0.7rem;
    }

    .cart_content{
        position: absolute;
        top: 235px;
        bottom: 150px;
    }

    .open .clear_info{
        font-size: 0.7rem;
    }
    
    .cart_flex{
        margin-bottom: 1.5%;
    }
    
    .cart_image{
        height: 100%;
        width: 22%;
    }

    .cart_block{
        font-size: 0.7rem;
    }

    .images .photos .box{
        margin: auto;
    }

    .images .photos .box .img{
        height: 300px;
        width: 300px;
        padding: 15px;
    }

    .buttons .btn{
        font-size: 20px;
        margin: 45px;
    }

}

@media only screen and (min-width: 770px) and (max-width: 970px){

    .img-logo{
        width: 8%;
    }

    .cart-btn{
        right: 1%;
        width: 5%;
        height: 4.8%;
    }

    .cart_img{
        width: 92%;
        height: 90%;
    }

    .open{
        width: 350px;
    }

    @keyframes slide-out{
        from{
            width: 0px;
        }
    
        to{
            width: 350px;
        }
    }

    .open .close-btn{
        right: 320px;
    }
    
    @keyframes slide-out-btn{
        from{
            right: 0px;
            width: 0px;
        }
    
        to{
            right: 335px;
            width: 0px;
        }
    }

    .open .cart_heading{
        font-size: 2rem;
    }
    
    .open .cart_para{
        font-size: 1.1rem;
    }

    .open .cart_count{
        font-size: 1.3rem;
    }
    
    .cart_count .delete_btn{
        height: 4%;
    }

    .open .proceed{
        font-size: 1.6rem;
        margin-left: 16%;
    }

    .open .save_btn{
        font-size: 1rem;
        bottom: 92px;
        margin-left: 42%;
    }

    .open .info{
        bottom: 130px;
    }

    .cart_content{
        position: absolute;
        top: 250px;
        bottom: 150px;
    }
    
    .cart_flex{
        margin-bottom: 1.5%;
    }
    
    .cart_image{
        height: 100%;
        width: 22%;
    }

    .cart_block{
        font-size: 0.7rem;
    }


    .images h2{
        font-size: 1.7rem;
    }
    
    .images .photos .box{
        margin: auto;
    }

    .images .photos .box .img{
        height: 300px;
        width: 300px;
        padding: 15px;
    }

    .buttons .btn{
        font-size: 17px;
        padding: 3px;
        margin: 20px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 770px){

    .img-logo{
        width: 78px;
    }

    .heading{
        margin-left: 30%;
        text-align: left;
    }

    .cart-btn{
        right: 1%;
        width: 5%;
        height: 4.8%;
    }

    .cart_img{
        width: 92%;
        height: 90%;
    }

    .open{
        width: 320px;
    }

    @keyframes slide-out{
        from{
            width: 0px;
        }
    
        to{
            width: 320px;
        }
    }

    .open .close-btn{
        right: 295px;
    }
    
    @keyframes slide-out-btn{
        from{
            right: 0px;
            width: 0px;
        }
    
        to{
            right: 305px;
            width: 0px;
        }
    }

    .open .cart_heading{
        font-size: 1.8rem;
    }
    
    .open .cart_para{
        font-size: 1rem;
    }

    .open .cart_count{
        font-size: 1.1rem;
    }
    
    .cart_count .delete_btn{
        height: 4%;
    }

    .open .proceed{
        font-size: 1.4rem;
        margin-left: 16%;
    }

    .open .save_btn{
        font-size: 0.9rem;
        bottom: 85px;
        margin-left: 41.5%;
        border: 3px solid black;
    }

    .open .info{
        bottom: 115px;
        font-size: 0.7rem;
    }

    .open .clear_info{
        font-size: 0.7rem;
    }

    .cart_content{
        position: absolute;
        top: 230px;
        bottom: 145px;
    }
    
    .cart_flex{
        margin-bottom: 1.5%;
        width: 98%;
    }
    
    .cart_image{
        height: 100%;
        width: 20%;
    }

    .cart_block{
        font-size: 0.7rem;
        padding: 0px;
    }

    .cart_block .cart-btns{
        width: 90%;
    }

    .container{
        flex-direction: column;
    }

    #aside{
        box-shadow: none;
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .list ul li{
        padding: 4px;
    }

    .images h2{
        font-size: 1.7rem;
        margin-top: 6px;
        margin-bottom: 20px;
    }
    
    .images .photos .box{
        margin: auto;
    }

    .images .photos .box .img{
        height: 400px;
        width: 400px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons .btn{
        font-size: 15px;
        padding: 2px;
        margin: 10px;
    }
    
    footer{
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 450px) and (max-width: 540px){

    .img-logo{
        width: 78px;
    }

    .heading{
        margin-left: 30%;
        text-align: left;
        font-size: 2rem;
    }

    .cart-btn{
        right: 2%;
        width: 6%;
        height: 4.8%;
    }

    .cart_img{
        width: 110%;
        height: 80%;
    }

    .open{
        width: 320px;
    }

    @keyframes slide-out{
        from{
            width: 0px;
        }
    
        to{
            width: 320px;
        }
    }

    .open .close-btn{
        right: 295px;
    }
    
    @keyframes slide-out-btn{
        from{
            right: 0px;
            width: 0px;
        }
    
        to{
            right: 305px;
            width: 0px;
        }
    }

    .open .cart_heading{
        font-size: 1.8rem;
    }
    
    .open .cart_para{
        font-size: 1rem;
    }

    .open .cart_count{
        font-size: 1.1rem;
    }
    
    .cart_count .delete_btn{
        height: 4%;
    }

    .open .proceed{
        font-size: 1.4rem;
        margin-left: 16%;
    }

    .open .save_btn{
        font-size: 0.9rem;
        bottom: 85px;
        margin-left: 42%;
        border: 3px solid black;
    }

    .open .info{
        bottom: 115px;
        font-size: 0.7rem;
    }

    .open .clear_info{
        font-size: 0.7rem;
    }

    .cart_content{
        position: absolute;
        top: 230px;
        bottom: 145px;
    }
    
    .cart_flex{
        margin-bottom: 1.5%;
        width: 98%;
    }
    
    .cart_image{
        height: 100%;
        width: 20%;
    }

    .cart_block{
        font-size: 0.7rem;
        padding: 0px;
    }

    .cart_block .cart-btns{
        width: 90%;
    }

    .container{
        flex-direction: column;
    }

    .list ul{
        margin-top: 5%;
    }

    #aside{
        box-shadow: none;
    }

    .list ul li{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .images h2{
        font-size: 1.7rem;
        margin-top: 6px;
    }
    
    .images .photos .box{
        margin: auto;
    }

    .images .photos .box .img{
        height: 290px;
        width: 290px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .images .photos button{
        font-size: 1.1rem;
        width: 40%;
    }

    .buttons .btn{
        display: block;
        font-size: 17px;
        padding: 3px;
        margin: 10px;
        text-align: center;
    }
    
    footer{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 345px) and (max-width: 450px){

    .img-logo{
        width: 78px;
    }

    .heading{
        margin-left: 30%;
        font-size: 1.8rem;
        text-align: left;
    }

    .cart-btn{
        right: 2%;
        width: 7%;
        height: 4.8%;
    }

    .cart_img{
        width: 110%;
        height: 80%;
    }

    .open{
        width: 280px;
    }

    @keyframes slide-out{
        from{
            width: 0px;
        }
    
        to{
            width: 280px;
        }
    }

    .open .close-btn{
        top: 1%;
        right: 255px;
    }
    
    @keyframes slide-out-btn{
        from{
            right: 0px;
            width: 0px;
        }
    
        to{
            right: 275px;
            width: 0px;
        }
    }

    .open .cart_heading{
        font-size: 1.5rem;
    }
    
    .open .cart_para{
        font-size: 0.8rem;
    }

    .open .cart_count{
        font-size: 0.9rem;
    }
    
    .cart_count .delete_btn{
        height: 4%;
    }

    .open .proceed{
        font-size: 1.2rem;
        margin-left: 15%;
    }

    .open .save_btn{
        font-size: 0.7rem;
        bottom: 80px;
        margin-left: 40%;
        border: 3px solid black;
    }

    .open .info{
        bottom: 110px;
        font-size: 0.6rem;
    }

    .open .clear_info{
        font-size: 0.6rem;
    }

    .cart_content{
        position: absolute;
        top: 200px;
        bottom: 135px;
    }
    
    .cart_flex{
        margin-bottom: 1.5%;
        width: 98%;
    }
    
    .cart_image{
        height: 100%;
        width: 20%;
    }

    .cart_block{
        font-size: 0.7rem;
        padding: 0px;
    }

    .cart_block .cart-btns{
        width: 90%;
    }

    .container{
        flex-direction: column;
    }

    .list ul{
        margin-top: 10%;
    }

    #aside{
        box-shadow: none;
    }

    .list ul li{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .images h2{
        font-size: 1.5rem;
        margin-top: 6px;
    }
    
    .images .photos .box{
        margin: auto;
    }

    .images .photos .box .img{
        height: 270px;
        width: 270px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .images .photos button{
        font-size: 1.1rem;
        width: 40%;
    }

    .buttons .btn{
        display: block;
        font-size: 17px;
        padding: 3px;
        margin: 10px;
        text-align: center;
    }
    
    footer{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 0px) and (max-width: 345px){

    .img-logo{
        width: 78px;
    }

    .heading{
        margin-left: 30%;
        font-size: 1.4rem;
        text-align: left;
    }

    .cart-btn{
        right: 2%;
        width: 7%;
        height: 4.5%;
    }

    .cart_img{
        width: 110%;
        height: 80%;
    }

    .open{
        width: 250px;
    }

    @keyframes slide-out{
        from{
            width: 0px;
        }
    
        to{
            width: 250px;
        }
    }

    .open .close-btn{
        top: 1%;
        right: 230px;
    }
    
    @keyframes slide-out-btn{
        from{
            right: 0px;
            width: 0px;
        }
    
        to{
            right: 255px;
            width: 0px;
        }
    }

    .open .cart_heading{
        font-size: 1.3rem;
    }
    
    .open .cart_para{
        font-size: 0.8rem;
    }

    .open .cart_count{
        font-size: 0.9rem;
    }
    
    .cart_count .delete_btn{
        height: 4%;
    }

    .open .proceed{
        font-size: 1.2rem;
        margin-left: 14.5%;
    }

    .open .save_btn{
        font-size: 0.7rem;
        bottom: 80px;
        margin-left: 40%;
        border: 3px solid black;
    }

    .open .info{
        bottom: 110px;
        font-size: 0.6rem;
    }

    .open .clear_info{
        font-size: 0.6rem;
    }

    .cart_content{
        position: absolute;
        top: 195px;
        bottom: 135px;
    }
    
    .cart_flex{
        margin-bottom: 1.5%;
        width: 98%;
    }
    
    .cart_image{
        height: 100%;
        width: 22%;
    }

    .cart_block{
        font-size: 0.6rem;
        padding: 0px;
    }

    .cart_block .cart-btns{
        width: 90%;
    }

    .container{
        flex-direction: column;
    }

    #aside{
        box-shadow: none;
    }

    .list ul{
        margin-top: 10%;
    }

    .list ul li{
        font-size: 1.2rem;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .images h2{
        font-size: 1.2rem;
        margin-top: 6px;
    }
    
    .images .photos .box{
        margin: auto;
        padding: 15px;
    }

    .images .photos .box .img{
        height: 230px;
        width: 230px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .images .photos button{
        font-size: 0.9rem;
        width: 40%;
    }

    .buttons .btn{
        display: block;
        font-size: 17px;
        padding: 3px;
        margin: 10px;
        text-align: center;
    }
    
    footer{
        font-size: 0.7rem;
    }
}
